<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Check Box</h1>
    <h2>Select Topics</h2>
    <form action="{% url 'select_multiple' %}" method="POST">
        {% csrf_token %}
    {% for TO in LTO %}
    <label for="topic">{{TO.topic_name}}</label>
    <input type="checkbox" name="topic" id="topic" value="{{TO.topic_name}}">
    <br>
    {% endfor %}
    <br>
    <input type="submit">
    </form>
    </center>
</body>
</html>